﻿@using CardTest.Models.DeviceCardModels

@model DeviceCardBodyModel

<div class="card-body text-@Model.MarkClass mt-2">
    <div class="hover-visible">
        <button type="button" class="btn btn-sm btn-light hover-visible-i text-secondary" data-toggle="tooltip" data-title="@Model.EDSButtonTooltip">
            <i class="fa fa-2x fa-pen-alt"></i>
        </button>
    </div>
    <p class="card-text text-secondary mb-0">@Model.Vendor</p>
    <p class="card-text text-primary">@Model.Product</p>

    <p class="card-text text-dark mb-0">Ревизия: <b>@Model.Revision</b></p>
    <p class="card-text text-dark">Скрийный №: <b>@Model.Serial</b></p>
</div>
