﻿@using CardTest.Models.DeviceCardModels;

@model DeviceCardBootloaderFooterModel

<p class="card-text text-secondary text-center mb-1">Загрузчик <b>V1</b></p>
<p class="card-text text-muted text-center"><i>Идентификтор приложения:</i> <b>@Model.AppID</b></p>
<div class="text-center">
    <button type="button" class="btn btn-sm btn-primary mr-2" onclick="startApp(@Model.NodeID)"><i class="fa fa-play" ></i> Запустить</button>
    <a class="btn btn-sm btn-danger" href="/bootloaderctl/@Model.NodeID"><i class="fa fa-tools"></i> Обновить ПО</a>
</div>