﻿@model OverwiewModel

@{ ViewData["Title"] = "Обзор сети"; }

@if (Model.Connected)
{
    <div class="container">
        <div class="row">
            <h3 class="text-left col">@ViewData["Title"]</h3>
            <div class="btn-toolbar col-auto" role="toolbar" aria-label="NMT commands">
                <div class="btn-group mr-2" role="group" aria-label="Go go modes">
                    <button type="button" title="Запустить все" class="btn btn-outline-dark" onclick="NMTGlobal('start');">
                        <i class="fa fa-play text-success"></i>
                    </button>
                    <button type="button" title="Остановить все" class="btn btn-outline-dark" onclick="NMTGlobal('stop');">
                        <i class="fa fa-stop text-danger"></i>
                    </button>
                    <button type="button" title="Настроить все" class="btn btn-outline-dark" onclick="NMTGlobal('pre-op');">
                        <i class="fa fa-pause text-warning"></i>
                    </button>
                </div>
                <div class="btn-group mr-2" role="group" aria-label="Reset commands">
                    <button type="button" title="Сбросить все" class="btn btn-outline-dark" onclick="NMTGlobal('reset');">
                        <i class="fa fa-sync"></i>
                    </button>
                    <button type="button" title="Reset communication" class="btn btn-outline-dark" onclick="NMTGlobal('reset-comm');">
                        <i class="fa fa-asterisk text-primary"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <hr />

    <div class="container" id="device-list-cotainer">
        <vc:device-list></vc:device-list>
    </div>
}
else
{
    <h2 class="text-muted text-center">Адаптер не подключен к сети CANOpen</h2>
    <a asp-controller="Connection" asp-action="Index">
        <h5 class="text-center"><i class="fas fa-plug"></i> Подключиться</h5>
    </a>
}
