﻿@model IEnumerable<DeviceListItem>

@if (Model.Count() > 0)
{
    <h4>Устройства, подключенные к сети</h4>
    <div class="card-columns" id="devices">
        @foreach (var listItem in Model)
        {
            <vc:device-list-item item="listItem"></vc:device-list-item>
        }
    </div>
    <input type="file" id="eds-file" style="display: none" accept=".eds" />
}
else
{
    <h3 class="text-muted text-center">Не обнаружено сконфигурированных устройств</h3>
    <h4 class="text-muted text-center">
        Возможно следует начать с настройки <a asp-area="" asp-controller="Lss" asp-action="Index">LSS</a>?
    </h4>
}