﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}


.card:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.card-header > .avatar {
  position: relative;
  display: flex;
  background: white;
  justify-content: center;
  align-items: center;
}

.card-header > .avatar > .avatar-i {
    padding: 3px;
    display: block;
    border-radius: 50%;
    position: absolute;
    bottom: -39px;
    border: 1px solid;
    text-align: center;
    width: 42px;
}

.card-body > .hover-visible {
    visibility: hidden;
}

.card:hover > .card-body > .hover-visible {
    visibility: visible;
    position: relative;
    display: flex;
    background: white;
    justify-content: center;
    align-items: center;
}

.card-body > .hover-visible > .hover-visible-i {
    padding: 3px;
    display: block;
    border-radius: 50%;
    position: absolute;
    right: 0;
    border: hidden;
}