﻿@model DeviceListItem

<div class="card border-@Model.MarkClass" node-id="@Model.NodeID">
    <vc:device-card-header mark-class="@Model.MarkClass" node-id="@Model.NodeID"
                           nmt-state="@Model.NMTState" heartbeat="@Model.TimeFromLastHeartbeat"
                           avatar-ready="@Model.EdsLoaded" />

    <vc:device-card-body mark-class="@Model.MarkClass" vendor="@Model.VendorString" product="@Model.ProductString"
                         revision="@Model.LSSId.RevisionNumber" serial="@Model.LSSId.SerialNumber"
                         eds-reload="@Model.EdsLoaded" />

    <div class="card-footer bg-transparent border-@Model.MarkClass">
        @if (Model.IsBootloader)
        {
            <vc:device-card-bootloader-footer node-id="@Model.NodeID" app-id="0x12345678"/>
        }
        else
        {
            @if (Model.NMTState == CardTest.Data.NMTState.Operatuional)
            {
                <vc:device-card-tpdo-summary-footer />
            }
            else
            {
                <p class="card-text text-secondary text-center">
                    <i>Для работы TPO необходимо <a href="javascript:NMTTarget(@Model.NodeID, 'start');">включить</a> устройство</i>
                </p>
            }
        }
    </div>
</div>